body{
    width: 100%;
    max-width: 100vw;
    overflow: hidden;

}

.portrait{
    display: none;
    @media (orientation: portrait){
        position: relative;
        display: initial;
        >div{
            height: 100vh;
            width: 100vw;
            background-color: grey;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            p{
                margin: 0;
                font-weight: bold;
            }
            svg{
                width: 50%;
                fill: white;
                stroke: white;
            }
        }
    }
}

.desk{
    @media (orientation: portrait){
    display: none;
    }
    height: 100vh;
    width: 100vw;
    position: relative;

    &:after{
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        // position: fixed;
        background: url("../img/desk.jpg") no-repeat bottom;
        background-size: cover;
        opacity: 0.5;
        z-index: -1;
    }
}

svg{
    fill:#828993;
    path{
        stroke: #828993;
    }
}


// the computer

.computer{
    position: absolute;
    bottom: 20vh;
    left: 35vw;
    height: 40vh;
    .monitor, .dashes {
        display: none;
    }
    .button{
        opacity: 0;
    }
    .monitorFilled{
        opacity: 0;
        & :nth-child(2){
            fill: #cccdd1;
        }
        fill-opacity:1;
        stroke-width:0.26122364;
    }
}


// the phone
.phone{
    position: absolute;
    bottom: 25vh;
    left: 70vw;
    height: 15vh;
}

// the curriculum
.curriculum{
    display: none;
    position: absolute;
    bottom: 70vh;
    right: 10vw;
    height: 20vh;
    fill: #aa9169;
}